/* 
 * machine burning template
 * forked from Smashing HTML5 by Enrique Ramírez (http://enrique-ramirez.com)
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/***** Global *****/
/* Body */
body {
    /*background: #6A6B69;*/
    background: url(../images/hex.png) repeat #777877;
    color: #FFF1EE;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Roboto', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

pre {
  background-color: rgb(80, 79, 74);
  padding: 2px;
}

#banner h1 span {
    float: left;
    margin-bottom: 0;
}

#title0 {
    color: #4d4e4d;
}

#title1 {
    /*color: #8f53b9; */ /* purple */
    /*color: #b43430; *//* green */
    /*color: #53b95e; */ /* red */
    color: #536cb9; /* blue */
    padding-left: 5px;
}

#title2 {
    color: #F6CF74;
    padding-left: 10px;
}

/* social icons */
.social {
    float: right;
    color: transparent;
}

.social a:hover {
    background-color: transparent;
    color: transparent;
}

.social a span {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
    color: transparent;
}

.social a[href*='last.fm'] span {
    background-image: url('../images/icons/lastfm.png');
}
.social a[href*='github.com'] span {
    background-image: url('../images/icons/github.png');
}
.social a[href*='soundcloud.com'] span {
    background-image: url('../images/icons/soundcloud.png');
}
.social a[href*='linkedin.com'] span {
    background-image: url('../images/icons/linkedin.png');
}
.social a[href*='feed.rss'] span {
    background-image: url('../images/icons/rss.png');
}

/* code */
pre {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
}

/* Headings */
h1 {font-size: 2.5em }
h2 {font-size: 1.429em}
h3 {font-size: 1.286em}
h4 {font-size: 1.200em}	
h5 {font-size: 1.143em}	
h6 {font-size: 1em}	

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	line-height: 1.1;
	margin-bottom: .8em;
	font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
}

h3, h4, h5, h6 { margin-top: .8em; }
	
hr { border: 0 solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #F6CF74;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	background-color: #F6CF74;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}
	
/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

.post-info {
    padding: 5px;
    font-size: 0.8em;
    color: #444;
    margin-bottom: 10px;
}

.post-info p{
    display: inline-block;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #242424; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 4.2em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
	    color: #F6CF74;
		display: inline;
		font-weight: 100;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #F6CF74;
		text-shadow: none;
	}
	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		background: #FFF1EE;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}
/*
	Featured
*****************/
#featured {
	background: #777877;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {font-size: 1.5em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

/* 
	Body
*****************/
#content {
	background: #777877;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #F6CF74;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

/* Blogroll */
#extras .blogroll {
    float: left;
    width: 615px;
}

#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

/*
	About
*****************/
#about {
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	text-align: left;
	width: 760px;
    font-size: 0.8em
}

#about p { padding: 1px; margin-bottom: 0 }
#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 0px solid #eee;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}

/* entry title */
.entry-title {
    font-size: 2.0em; 
    margin-bottom: 2px; 
    margin-top: 0;
}
    .entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
  }
    .entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

	/* Content */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
